numpy==1.24.2
protobuf==3.20.3
ngsildclient==0.5.2
tensorflow==2.7.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cu101
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cu101
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.8.1 
matplotlib==3.5.1
seaborn==0.12.2
PyYAML==6.0
opencv_python_headless==4.6.0.66
fastapi[all]==0.95.2
uvicorn==0.22.0
fastapi_utils==0.2.1
onnx==1.13.1
onnxruntime_gpu==1.14.1
pycocotools==2.0.6
pydantic==1.10.7
Requests==2.29.0
scipy==1.10.1
setuptools==67.6.1
tqdm==4.65.0
tensorboard==2.12.1
cmake==3.26.1
cython==0.29.34
streamlit==1.22.0
streamlit-autorefresh==0.0.1
streamlit-cookies-manager==0.2.0
timeloop==1.0.2