protobuf==3.20.3
fastapi==0.95.1
fastapi_utils==0.2.1
ngsildclient==0.5.2
numpy==1.24.2
onnxruntime_gpu==1.14.1
opencv_python_headless==4.6.0.66
pycocotools==2.0.6
pydantic==1.10.7
PyYAML==6.0
Requests==2.29.0
scipy==1.10.1
matplotlib==3.5.1
seaborn==0.12.2
setuptools==67.6.1
starlette==0.26.1
tensorflow==2.7.0
tqdm==4.65.0
uvicorn==0.22.0
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cu101
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1+cu101
-f https://download.pytorch.org/whl/torch_stable.html
torchaudio==0.8.1 